@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
html {
  font-family: "Fredoka One", cursive;
  background-color: #fafbff;
}

.click-btn {
  display: flex;
  max-height: 80px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  line-height: 35px;
  border: 1px solid;
  border-radius: 11px;
  margin-top: 60px;
  max-height: 80px;
  padding: 20px;
  width: 300px;
  color: #ffffff;
  font-size: 30px;
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .click-btn {
    font-size: 20px;
    margin-top: 30px;
    margin: 10px auto;
    max-height: 80px;
    padding: 10px;
    width: 350px;
  }
}

.viewMoreBtn {
  display: flex;
  max-height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  line-height: 35px;
  border: 1px solid;
  border-radius: 11px;
  margin-top: 5px;
  padding: 20px;
  width: 160px;
  color: #ffffff;
  font-size: 15px;
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .viewMoreBtn {
    font-size: 16px;
    margin-top: 10px;
    max-height: 50px;
    padding: 20px;
    width: 150px;
  }
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.updating {
  margin: 3em;
  text-align: center;
}

.btn-style5 {
  background-color: rgba(7, 7, 7, 0.631372549);
  border-color: ffffff;
  color: #ffffff;
  box-shadow: 0.3em 0.3em 0 #9c000f;
}
.btn-style5:hover {
  box-shadow: -0.3em -0.3em 0 rgba(255, 255, 255, 0.7529411765);
  background-color: rgba(241, 10, 33, 0.7529411765);
  border-color: #000000;
  color: #ffffff;
}

.btn-ViewMorestyle5 {
  background-color: #c50014;
  border-color: ffffff;
  color: #ffffff;
  box-shadow: 0.3em 0.3em 0 #070707;
}
.btn-ViewMorestyle5:hover {
  box-shadow: -0.3em -0.3em 0 #c50014;
  background-color: #000000;
  border-color: #9c000f;
  color: #ffffff;
}

.animated-button1 {
  background: linear-gradient(-30deg, #310c0c 50%, #521818 50%);
  padding: 10px 20px;
  margin: 22px;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  font-family: Raleway;
  letter-spacing: 2.5px;
  text-align: center;
  transition: transform 1.2s ease;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  will-change: transform, box-shadow; /* Optimiza las propiedades que cambiarán */
}

.animated-button1:hover {
  transform: scale(1.1);
}

.animated-button1:active {
  transform: scale(1.2);
}

.animated-button1 span {
  position: absolute;
  transition: transform 0.5s ease-in-out; /* Asegura una transición suave en cada span */
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
  animation: animateTop 2s linear infinite;
}

@keyframes animateTop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
  animation: animateRight 2s linear -1s infinite;
}

@keyframes animateRight {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  animation: animateBottom 2s linear infinite;
}

@keyframes animateBottom {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
  animation: animateLeft 2s linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}/*# sourceMappingURL=boton.css.map */